[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "radiotap"]
	path = radiotap
	url = https://github.com/radiotap/radiotap-library.git
[submodule "libev-win"]
	path = libev-win
	url = https://github.com/disenone/libev-win.git
